<div class="card-container">
  <mat-card class="student-card">
    <mat-card-content>
      <div class="header-text">
        <span>Students</span>
        <button class="add-button" mat-icon-button (click)="openDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div>
        <mat-list>
          <mat-list-item *ngFor="let student of students">
            <button class="student-button" mat-button type="button" (click)="onSelect(student)">
              <span>{{student.firstName}} {{student.lastName}}</span><br>
              <span>Is Active? {{student.isActive}}</span>
            </button>
            <span class="example-spacer"></span>
            <button mat-button class="close-button"
              (click)="deleteStudent(student); selectedStudent = undefined"><mat-icon>close</mat-icon></button>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="selectedStudent" class="detail-card">
    <mat-card-content>
      <app-student-detail [student]="selectedStudent" [courses]="courses"></app-student-detail>
    </mat-card-content>
  </mat-card>
</div>