<mat-grid-list cols="2" gutterSize="20px">
  <mat-grid-tile>
    <div>
      <div class="header-text">Students</div>
      <mat-list>
        <mat-list-item *ngFor = "let student of students">
          <button class="student-button" mat-button type="button" (click)="onSelect(student)">
            <span>{{student.name}}</span><br>
            <span>Is Active? {{student.isActive}}</span>
          </button>
          <button mat-button class="close-button" (click)="deleteStudent(student); selectedStudent = undefined">X</button>
        </mat-list-item>
      </mat-list>

      <label for="name">Add Student:</label>
      <input id="name" #studentName placeholder="name">
      <button (click)="addStudent(studentName.value); studentName.value=''">Add</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-student-detail [student]="selectedStudent"></app-student-detail>
  </mat-grid-tile>
</mat-grid-list>
