.header-text {
    font-size: x-large;
    font-weight: bold;
    border-color: #FFDA58;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0; 
    width: fit-content;
    height: 45px;
    border-width: 2px;
}

.active-checkbox {
    color: #FFDA58;
}

.courses-text {
    font-weight: bold;
}

.add-button {
    color: gray;
    width: 25px;
    height: 25px;
    padding: 0;
    align-items: center;
}