<h1>{{title}}</h1>

<div>
  <h2>Students</h2>
  <ul>
    <li *ngFor = "let student of students">
      <button (click)="selectedStudent=student; selectedCourse = undefined;">{{student.name}}</button>
    </li>
  </ul>
  <label for="name">Add Student:</label>
  <input id="name" #studentName placeholder="name">
  <button (click)="addStudent(studentName.value); studentName.value=''">Add</button>
</div>

<div>
  <h2>Courses</h2>
  <ul>
    <li *ngFor = "let course of courses">
      <button (click)="selectedCourse=course; selectedStudent = undefined">{{course.name}}</button>
    </li>
  </ul>
  <label for="name">Add Course:</label>
  <input id="name" #courseName placeholder="name">
  <button (click)="addNewCourse(courseName.value); courseName.value=''">Add</button>
</div>

<div>
  <h1>-------------------------------------------------</h1>
</div>

<div *ngIf="selectedStudent">
  <div>
    <h3>{{selectedStudent.name}}</h3>
    <button (click)="deleteStudent(selectedStudent)">X</button>
    <label for="name">Student Name:</label>
    <input id="name" [(ngModel)]="selectedStudent.name" placeholder="name">
  </div>
  <div>
    <label for="isActive">Active: {{selectedStudent.isActive}}</label>
    <div>
      <button (click)="toggleActiveness()">Toggle Active Status</button>
    </div>
  </div>
  <div *ngIf="selectedStudent.isActive">
    <label for="enrolledCourses">Enrolled Courses:</label>
    <ul>
      <li *ngFor = "let course of getStudentsCourses()">
        <label>{{course.name}}</label>
        <button (click)="removeCourse(course.id)">X</button>
      </li>
    </ul>
    <div *ngIf="selectedStudent.isActive">
      <label for="addCourse">&nbsp;Add Course: </label>
      <select [(ngModel)]="courseToAdd">
        <option *ngFor="let course of courses" [ngValue]="course.id">{{course.name}}</option>
      </select>
    <button id="courseToAdd" (click)="addCourse()">Add course</button>
    </div>
  </div>
</div>

<div *ngIf="selectedCourse">
  <h3>{{selectedCourse.name}}</h3>
  <button (click)="deleteCourse(selectedCourse)">X</button>
  <label for="name">Course Name:</label>
  <input id="name" [(ngModel)]="selectedCourse.name" placeholder="name">
</div>