<mat-sidenav-container>
    <mat-sidenav #sidenav class="mat-side-nav" mode="side" opened>
        <div><button class="button" mat-button><mat-icon>home</mat-icon>Home</button></div>
        <div><button class="button" mat-button (click)="studentsPage()"><mat-icon>person</mat-icon>Students</button></div>
        <div><button class="button" mat-button (click)="coursesPage()"><mat-icon>format_list_bulleted</mat-icon>Courses</button></div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div id="studentPanel" class="padding-8">
            <app-student-list [students]="students" [courses]="courses" ></app-student-list>
        </div>
        <div id="coursePanel" class="padding-8">
            <app-course-list [courses]="courses"></app-course-list>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>