<mat-sidenav-container>
    <mat-sidenav #sidenav class="mat-side-nav" mode="side" opened>
        <div><button class="button" mat-button><mat-icon>home</mat-icon>Home</button></div>
        <div><button class="button" mat-button (click)="studentsPage()"><mat-icon>person</mat-icon>Students</button></div>
        <div><button class="button" mat-button (click)="coursesPage()"><mat-icon>format_list_bulleted</mat-icon>Courses</button></div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div id="studentPanel">
            <app-student-list></app-student-list>
        </div>
        <div id="coursePanel">
            <app-course-list></app-course-list>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>