.example-spacer {
    flex: 1 1 auto;
}

.student-button {
    justify-content: left !important;
    height: fit-content;
    width: 200px;
    text-align: left;
}

.close-button {
    justify-content: center;
    width: 5%
}


.header-text {
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 10px;
}

.student-card {
}

.detail-card { 
    margin: 20px;
}

.card-container {
//     height: 90vh;
//     overflow-y: scroll;
}

.add-button {
    color: gray;
    width: 25px;
    height: 25px;
    padding: 0;
    align-items: center;

}

.mdc-list-item {
    padding: 32px 16px
}